*{
    font-family: sans-serif;
}
.row1{
    height: 76.4px;
    img{
        width: 82px; height: 54px;
    }
    ul{
        li{
            height: 76.4px;
            transition: all 0s linear 100ms;
            &:hover{
                border-bottom: solid 3px #222;
                transform: scaleX(1);
            }
        }
    }
}
.bg{
    font-size: 20px;
}
.hov{
    line-height: 80px;
}
.texthov{
    color: #696969;
}
.texthov:hover{
    color: #222;
}
.hov:hover span{
    border-bottom: solid 2px black;
}
.gd{
    font-size: 19px;
}
.hov2:hover{
    border-bottom: solid 2px black;
}
.row3{
    height: 80px;
    background-color: #ECECEC;
}
.hov3{
    transition: normal 0.5s ease 0s ;
    transition-property: transform;
    transform-origin: center;
    overflow:hidden
}
h5{
    margin-bottom: 0px;
}
.hov3:hover h5{
    background-color: #ECECEC;
}
.hov3:hover p{
    background-color: #ECECEC;
}
.hov3:hover img{
    transform: scale(1.08);
}
.hov4{
    transition: normal 0.5s ease 0s ;
    transition-property: transform;
    transform-origin: center;
    overflow:hidden
}
.hov4:hover{
    background-color: #ECECEC;
}
.hov4:hover img{
    transform: scale(1.03);
}
.row12{
    background-color: #FAFAFA;  
}
.row12 img{
    width: 100px; height: 100px;
}
.hov5{
    transition: all ease 300ms 0s;
}
.hov5:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.row13 i {
    font-size: 30px;
}
.row13 a:hover p{
    border-bottom: solid 2px #222;
}
.rgba-bg{
    color: #222;
    background-color: rgba(255, 255, 255, 0.4);
}
.rgba-bg:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}